@tailwind base;

@tailwind components;

@tailwind utilities;


body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}
.bg-primary-color{
  background: linear-gradient(to right, #f37a48, #e34a27);
}
.primary-color{
  background: linear-gradient(to right, #f37a48, #e34a27);
  -webkit-background-clip: text;
  color: transparent;
}